
<ion-content padding class="background-home">
  <h1 class="top">Mode Setting</h1><p></p>
  <div class="left">Modes</div>
  <div class="right">Aromas</div>
  <div style="clear:both"></div>

     <div class="top3">
        <div class="left-circle">
            <img src="./assets/imgs/sun.svg" class="center"><p>
            <div align="center" style="color:#ff3e62">Heat</div>
        </div>
        <div class="left-circle-close">
            <img src="./assets/imgs/snowflake13.svg" class="center"><p>
            <div style="text-align: center">Cool</div>
        </div>
        <div class="right-circle">
            <img src="./assets/imgs/ice.svg" class="center"><p>
            <div align= "center" style="color:#00ccff">Ice</div>
        </div>
        <div class="right-circle-close">
            <img src="./assets/imgs/Cherry13.svg" class="center"><p>
            <div style="text-align: center">Cherry</div>
        </div>
        <p>
      <div class="top2">
        <div class="left-circle-close">
            <img src="./assets/imgs/wind.svg" class="center"><p>
            <div style="text-align: center">Wet</div>
        </div>
        <div class="left-circle-close">
            <img src="./assets/imgs/spiral.svg" class="center"><p>
            <div style="text-align: center">Dry</div>
        </div> 
        <div class="right-circle-close">
            <img src="./assets/imgs/lime.svg" class="center"><p>
            <div style="text-align: center">Lime</div>
        </div> 
        <div class="right-circle-close">
            <img src="./assets/imgs/grape3.svg" class="center"><p>
            <div style="text-align: center">Grape</div>
        </div>

      </div>  
    </div><p>
    <div class="top4">
      <div class="top" style="color:#998ead">Temperature</div>
    </div>
    <br>
    <div style="text-align: center"><span style="font-size : 100px">19</span><span style="font-size : 20px">temp</span></div>
</ion-content>